@import "tailwindcss";

/* Optional: override dark variant to be triggered by a class on <html> */
@custom-variant dark (&:where(.dark, .dark *));

/* You can also define theme variables, custom colours etc. */
@theme {
  --color-bg: white;
  --color-text: black;
  --color-bg-dark: #1a1a1a;
  --color-text-dark: #f0f0f0;
}

/* set up styles using the variables */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

:root.dark body {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}
